APP_NAME="Fullok Wallet"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=America/Mexico_City
APP_URL=https://api.fullok.mx

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_MX

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=fullok
DB_USERNAME=fullok
DB_PASSWORD=__CAMBIAR_FUERTE__
DB_ROOT_PASSWORD=__CAMBIAR_FUERTE__

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=none

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

CACHE_STORE=file
CACHE_PREFIX=

SANCTUM_STATEFUL_DOMAINS=admin.fullok.mx
CORS_ALLOWED_ORIGINS=https://admin.fullok.mx

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@fullok.mx
MAIL_FROM_NAME="Fullok Wallet"

ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=claude-haiku-4-5
ANTHROPIC_API_VERSION=2023-06-01
ANTHROPIC_TIMEOUT=25
